body {

}

.demo {
  background-image: url("../images/enter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
  padding-bottom: 700px;
}

audio {
  display: none;
}


.greet-box {
  padding: 40px 15px;
  padding-bottom: 50px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: black;
  margin-top: 150px;
  font-size: 18px;
  font-family: fantasy;
  opacity: 0.8;
  filter: alpha(opacity=30);
}

.typewriter {
  line-height: 60px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.typewriter2 {
  animation:
    typing2 7.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
.typewriter3 {
  animation:
    typing3 12s steps(40, end),
    blink-caret .75s step-end infinite;
}
.typewriter4 {
  animation:
    typing4 14s steps(40, end),
    blink-caret .75s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes typing2{
  0%{width: 0;}
  33%{width: 0;}
  100%{ width: 100%; }
}
@keyframes typing3{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100%; }
}
@keyframes typing4{
  0%{width: 0;}
  66%{width: 0;}
  100%{ width: 100%; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

.custom {
  color: black;
  background-color: white;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  width: 50%;
}

.after {
  display: none;
}

footer {
  height: 300px;
  width: 100%;
  background-color: black;
  color: white;
  margin-top: 1000px;
  opacity: 0.8;
  filter: alpha(opacity=30);
}

.navbar-default {
  border: none;
  background-color: black;
  padding-top: 10px;
}

.navbar-nav {
  margin-left: 200px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  font-weight: bold;
  font-size: 26px;
  font-family: fantasy;
  padding: 40px;
}
